.title-chat {
  margin-top: 30px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  border-bottom: 2px solid $green;
  h1 {
    font-size: 32px;
  }
}

.retour {
  margin-left: 20px;
  margin-top: 10px;
}

.page-chat {
  min-height: calc(100vh - 100px);
  background-size: cover;
}

.chatroom {
  width: 800px;
  margin: 0 auto;
  padding-top: 30px;
  background-color: #ffffff;
  opacity: 0.9;
  box-shadow: 0px 0px 5px $green;
  border-radius: 6px;
}

#unread {
  font-weight: bold;
}

#new_message {
  width: 100%;
  .form-group {
    width: 70%;
  }
  textarea.form-control {
    height: 77px;
  }
}

#message_content {
  border: 2px solid $green;
  box-shadow: 0px 0px 5px $green;
  border-radius: 30px;
}

.form-chat {
  flex-direction: column;
}

.btn-chat {
  margin-bottom: 30px;
}

.author span {
  color: #ffffff;
}

#messages {
  width: 100%;
  overflow-y: auto;
  height: 300px;
}

.speech-bubble-blue {
	position: relative;
	background: #F5832D;
  border-radius: 30px;
  padding: 10px;
  color: #ffffff;
  max-width: 300px;
  margin-bottom: 20px;
  margin-left: 460px;
}

.speech-bubble-blue:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-right-color: #F5832D;
	border-left: 0;
	border-bottom: 0;
	margin-top: -19px;
	margin-left: -30px;
}

.speech-bubble-rose {
	position: relative;
	background: #BC214D;
  border-radius: 30px;
  padding: 10px;
  color: #ffffff;
  margin-bottom: 20px;
  max-width: 300px;
  margin-left: 40px;
}

.speech-bubble-rose:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 38px solid transparent;
	border-left-color: #BC214D;
	border-right: 0;
	border-bottom: 0;
	margin-top: -19px;
	margin-right: -30px;
}

.side-bar {
  height: 600px;
}
#myTab {
  flex-direction: column;
  width: 300px;
}

.nav-tabs .nav-link.active {
  background-color: $green;
  color: white;
}