#form-skills, #skill-new {
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0px 30px;
  margin-bottom: 10px;
  padding: 10px 20px;
}

#form-design h2 {
  margin-bottom: 10px;
  padding: 10px 10px;
  font-size: 24px;
}

#label,#skill-name {
  font-color: #3D4345;
}
