#form-skills, #skill-new, .edit_skill {
  //box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  padding: 10px 10px;
  }

#form-design h2 {
  margin-bottom: 10px;
  padding: 10px 10px;
  font-size: 24px;
}

#new_skill, .edit_skill {
  margin-top: 0px;
}

.form-control {
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
  }

#new_skill label, .edit_skill label, #new_experience label {
  color: #3D4345;
}

.form_control {
  width: 300;
}

#form-design {
  width: 450px;
  margin: auto
}
// form edit user profile
.form-actions {
  display: flex;
  justify-content: space-around;
}
.form-actions > p > .btn-green {
   margin-bottom: 10px;
}
.form-actions > .btn-green:hover {
  color: black;
}
.form-actions > p {
  margin-top: 10px;
    a {
      padding: 15px 15px;
    }
}
.left-runners, .right-runners {
  height: 100vh;
  width: 25%;
  background-size: cover;
}

.min-height-100{
min-height: calc(100vh - 100px);
}

.edit_user {
  width: 100%;
}

.user_first_name {
  width: 48%;
}

.user_last_name {
  width: 48%;
}

.user_email {
  width: 48%;
}

.user_sex {
  width: 48%;
}

.user_password {
  width: 48%;
}

.user_password_confirmation {
  width: 48%;
}

.btn.btn-outline-light.rounded-pill.btn-space {
  border: 1px solid #0F5D5E;
  color: #0F5D5E;
}
