#skills-show {
	background-color: white;
}

.title-resa {
	text-align: left;
	margin-bottom: 20px;
}
.btn-resa {
	text-align: center;
	margin-top: 20px;
}

.left-run img {
	position: absolute;
	height: 100%;
	margin: 40px 0 40px 0;
	left: 0;
}

.right-run img {
	position: absolute;
	height: 80%;
	margin-top: 40px 0 40px 0;
	right: 0;
}

.titre-profil {
	font-weight: bold;
}

.show-avatar {
	border-radius: 50%;
	// width: 90px;
	// height: 90px;
	margin-top: 10px;
	margin-right: 10px;
	border: 2px solid $green;
	box-shadow: 0px 0px 5px $green;
	position: relative;
}

.show {
	// margin-top: 70px;
}

.show-card {
	margin-top: 50px;
	width: 60%;
	height: 100px;
	// background-color: $light-gray;
	margin-left: 0;
}
.show-card-price {
	margin-bottom: 50px;
}

.name {
	font-size: 18px;
	color: $green;
}

.skill {
	font-size: 24px;
	color: $green;
	font-weight: bold;
}

.spe {
	font-size: 24px;
	color: $green;
	font-weight: bold;
}

.price-euros {
	margin-right: 50px;
	font-size: 26px;
	i {
		font-size: 20px;
	}
}

.price-e {
	font-weight: bolder;
	
}

.euros {
	font-size: 26px;
}

p #total-price {
	text-align: right;
}

.competences {
	height: 350px;
	width: 60%;	
	// background-color: $light-gray;
	padding: 20px;
	padding-top: 0;
	border-radius: 5px;
	box-shadow: 0px 5px 5px $light-gray;
	position: relative;
	.comp {
		// gap: 25px;
	}
	// .comp-titre {
		// width: 20%;
		// font-weight: bold;
	// }

.title-des {
	text-align: left;
}
	.comp-text {
		width: 80%;
		text-align: justify;
	}
}

.comp-titre.location {
	text-align: center;
}

.location {
	margin-bottom: 20px;
}

.btn-delete {
	position: absolute;
	right: 20px;
	bottom: 20px;
	margin-top: 15px
}

.calandar {
	width: 30%;
	position: relative;
	border-radius: 5px;
	box-shadow: 0px 5px 5px $light-gray;
}

.dyn-price {
	margin-bottom: 14px;
	h2 {
		text-align: left;
	}
}

.content {
	font-weight: bold;
}

.video-comment {
	margin-top: 30px;
}

.comment {
	width: 50%;
	height: 20%;
	box-shadow: 0px 5px 5px $light-gray;;
	border-radius: 5px;
	padding: 20px;
	h1 {
		color: $green;
		margin-top: 10px;
		padding-bottom: 15px;
	}
}

.rating {
	margin-bottom: 10px;
	border-bottom: 1px dotted $green;
}

.name-rating {
	padding-bottom: 5px;
}

.com-each {
	border-top: 1px solid $green;
	padding-top: 20px;
}

.video {
	width: 400px;
	box-shadow: 0px 5px 5px $light-gray;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 20px;
	h1 {
		color: $green;
		margin-top: 10px;
		margin-left: 20px;
		border-bottom: 1px solid $green;
		padding-bottom: 20px;
	}
}

.video-container {
	margin-bottom: 15px;
}

.sport {
	font-size: 24px;
	span {
		font-weight: bolder;
		font-size: 26px;
	}
}








