#skills-show {
	background-color: white;
}

.left-run img {
	position: absolute;
	height: 70%;
	margin: 40px 0 40px 0;
	left: 0
}

.right-run img {
	position: absolute;
	height: 70%;
	margin-top: 40px 0 40px 0;
	right: 0
}

.titre-profil {
	font-weight: bold;
}

.show-avatar {
	border-radius: 50%;
	width: 90px;
	margin-top: 10px;
	margin-right: 10px;
}

.show {
	margin-top: 70px;
}

.show-card {
	width: 60%;
	height: 100px;
	// background-color: $light-gray;
	margin-left: 0;
}

.name {
	font-size: 18px;
	color: $green;
}

.skill {
	font-size: 24px;
	color: $green;
	font-weight: bold;
}

.price-euros {
	font-size: 26px;
}

.price {
	font-weight: bolder;
}

.euros {
	font-size: 26px;
}

p #total-price {
	text-align: right;
}

.competences {
	height: 350px;
	width: 60%;	
	// background-color: $light-gray;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 5px 5px $light-gray;
	position: relative;
	.comp {
		gap: 25px;
	}
	.comp-titre {
		width: 20%;
		font-weight: bold;
	}
	.comp-text {
		width: 80%;
	}
}

.location {
	margin-bottom: 20px;
}

.btn-delete {
	position: absolute;
	right: 20px;
	bottom: 20px;
	margin-top: 15px
}

.calandar {
	width: 30%
}

.comment {
	width: 80%;
	box-shadow: 0px 5px 5px $light-gray;;
	margin-bottom: 10px;
	h1 {
		color: $green;
	}
}

.video {
	width: 80%;
	box-shadow: 0px 5px 5px $light-gray;
	margin-bottom: 20px;
	h1 {
		color: $green;
	}
}

.sport {
	font-size: 24px;
	span {
		font-weight: bolder;
		font-size: 26px;
	}
}








