.container-show {
	width: 800px;
}

.show-avatar {
	border-radius: 50%;
	width: 150px;
	margin-top: 10px;
}

.show {
	margin-top: 70px;
}

.show-card {
	width: 300px;
	height: 270px;
	background-color: white;
	margin-left: 0;
}

.name {
	font-size: 24px;
	color: $green;
	font-weight: bold;
}

.skill {
	font-size: 18px;
	color: $green;
}

.competences {
	height: 270px;
	width: 400px;
	background-color: white;
}