.filter-box {
  display: flex;
  justify-content: space-between;
}

.filters {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
}

.custom-range {
  width: 150px;
}

.label-exp {
  // display: flex;
  align-items: flex-start;
  margin-left: 25px;
  margin-bottom: 0;
}
