.cont {
  // width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.price {
  text-shadow: 1px 1px 1px rgba(15,93,94,0.4);
  &:hover {
    font-size: 20px;
    // text-shadow: 1px 1px 1px rgba(15,93,94,0.8);
  }
}

.title-index {
  margin-top: 30px;
  margin-bottom: 20px;
  & h1 {
    font-size: 30px;
  }
}

.algolia-places {
  width: 200px;
  align-items: center;
}

.ap-input-icon svg {
  fill: $green;
}

#skill_location.filters.ap-input {
  vertical-align: middle !important;
}

.container-cards {
  margin-right: 20px;
}

.exp {
  width: 120px;
  margin: 0;
  margin-right: 20px;
  margin-bottom: 5px;
  vertical-align: top;
}

.cards-map {
  // gap: 10px;
  margin-top: 20px;
}

#map {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.filters {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-range {
  width: 150px;
}

.label-exp {
  margin-left: 0px;
  margin-bottom: 0;
}

#specialty {
  width: 120px;
}

#sport_id {
  width: 120px;
}

#skill_name {
  width: 150px;
}

#skill_location {
  width: 170px;
}

#exp_years {
  width: 120px;
}

#exp_price {
  width: 120px;
}