.cont {
  // width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.title-index {
  margin-top: 30px;
  margin-bottom: 30px;
  // text-shadow: 1px 1px 3px rgba(15,93,94,1);
  & h1 {
    font-size: 30px;
  }
}

.exp {
  width: 150px;
  margin: 0;
}

.cards-map {
  // gap: 10px;
  margin-top: 20px;
}

#map {
  position: sticky;
}

.filters {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-range {
  width: 150px;
}

.label-exp {
  margin-left: 25px;
  margin-bottom: 0;
}
