.experience-container {
  margin-top: 70px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}
h2 {
  margin-top: 20px;
}
h4 {
  font-size: 17px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: black;
}
.experience {
 background-color: white;
 box-shadow: 0 0 8px rgba(0,0,0,0.2);
 padding: 5px 10px;
 margin: 20px 0;
 width: 300px;
  span {
  font-weight: bold;
  color: #3D4345;
 }
}
p {
  color: #3D4345;
}
.btn-exp {
  padding: 5px 2px;
  width: 200px;
  margin-bottom: 20px;
    &:hover {
      color: black;
    }
}
.experience-form {
  z-index: 2;
}
.experience-list {
  margin-top: 80px;
  z-index: 2;
}
.navbar {
  position: relative;
}
.runner {
  z-index: 1;
  height: 400px;
  width: 200px;
  position: absolute;
  left: -50px;
  top: 160px;

}
.runnerbis {
  z-index: 1;
  height: 400px;
  width: 250px;
  position: absolute;
  right: 0px;
}

