

// // profil client
// .profile-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 50%;
//   margin: auto;
//   padding: 10px;
// }
// h4 {
//   font-weight: bold;
//   font-size: 20px;
//   margin-top: 0px;
//   margin-bottom: 15px;
// }
// .navbar {
//   position: relative;
// }
// .runner {
//   z-index: 1;
//   height: 70%;
//   width: 25%;
//   position: absolute;
//   left: -50px;
//   top: 45%;
//   opacity: 0.5;
// }
// .runnerbis {
//   z-index: 1;
//   height: 70%;
//   width: 25%;
//   position: absolute;
//   right: 0px;
//   top: 45%;
//   opacity: 0.5;
// }
// .reservations-en-cours, .reservations-past, .identity {
//   background-color: white;
//   padding: 5px 10px;
//   box-shadow: 0 0 8px rgba(0,0,0,0.2);
//   margin-bottom: 10px;
//   z-index: 2;
//   width: 100%;
//   margin: auto;
//   border-radius: 3px;
// }
// .reservations-en-cours {
//   margin-bottom: 10px;
// }
// .zut {
//   width: 80%;
//   z-index: 2;
//   background-color: #A3D2CA;
//   border-radius: 3px;
//   padding: 10px 15px;
//   padding-bottom: 20px;
//   margin-bottom: 10px;
// }
h2 {
  margin-bottom: 60px;
}
// profil coach
.client-resas {
  margin-left: 10px;
}
.zut-one {
  margin-bottom: 10px;
  background-color: #A3D2CA;
  border-radius: 3px;
  padding: 10px;
}
.link-client {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
    a {
      width: 80px;
      height: 35px;
    }
}
#user-modif {
  padding: 10px 10px;
}
.reservations-past {
  margin-right: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  width: 250px;
  background-color: white;
    a {
  margin-left: 25px;
  padding: 10px 10px;
    }
}
.profile-coach-container, .profile-container {
  width: 1000px;
  height: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
#user_photo {
  object-fit: cover;
  height: 200px;
  overflow: hidden;
}
.bold {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.coach {
  border-radius: 3px;
  margin-right: 20px;
}
.fa-euro-sign {
  margin-bottom: 20px;
}
.profile-reservations, .client-resas {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-title, h3 {
  font-weight: bold;
  font-size: 22px;
}
.coach-dashboard, .coach-as-user, .zut {
  background-color: #A3D2CA;
  border-radius: 3px;
  padding: 10px;
}
.resas {
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  border-radius: 3px;
}
.list-resas, .reviews {
  display: flex;
  margin: 5px 5px;
}
.link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.reviews-coach, .reservations-coach-as-user, .reservations-en-cours-coach, .reservations-en-cours {
  margin-right: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 5px;
  width: 250px;
  background-color: white;
}
.reservations-coach-as-user {
  padding-bottom: 10px;
}
