.container-profile {
  display: flex;
  width: 1000px;
  margin: auto;
  justify-content: center;
  min-height: 100vh;
}
.profile-identity {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 3px solid #f6f6f6;
  align-items: center;
  width: 30%;
  position: sticky;
}
.profile-tableau {
    background-color: #f6f6f6;
    padding-top: 20px;
    .titre {
    padding-left: 20px;
    font-size: 24px;
  }
}
.profile-resas {
  display: flex;
}
.resas-en-cours, .resas-passees {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 20px;
  margin-top: 40px;
}
.profile-image {
  margin-top: 30px;
  margin-bottom: 30px;
}
#show-profile {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 0.01rem solid $green;
  }
.profile-infos, .coach-seance {
  margin: 20px;
}
.bold {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
p {
  font-size: 18px;
}
.reservations-en-cours, .reservations-past {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 5px;
  padding-left: 15px;
  width: 235px;
  height: 280px;
  background-color: white;
}
h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.link-client {
  padding-bottom: 10px;
}
.link-review {
  padding-top: 15px;
  padding-left: 20px;
}
.fa-caret-down {
  padding-left: 20px;
}
.no-margin-footer {
  margin-top: 0px;
}
