
h2 {
  margin-bottom: 60px;
}
// profil coach
.client-resas {
  margin-left: 10px;
}
.zut-one {
  margin-bottom: 10px;
  background-color: $light-gray;
  border-radius: 3px;
  padding: 10px;
}
.link-client {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
    a {
      width: 40px;
      height: 35px;
    }
}
#user-modif {
  padding: 10px 10px;
}
.reservations-past {
  margin-right: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  width: 250px;
  background-color: white;
    a {
  margin-left: 20px;
  padding: 10px 10px;
    }
}
.profile-coach-container, .profile-container {
  width: 1000px;
  height: 70%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}
#user_photo {
  object-fit: cover;
  height: 200px;
  overflow: hidden;
}
.bold {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.coach {
  border-radius: 3px;
  margin-right: 20px;
}
.fa-euro-sign {
  margin-bottom: 20px;
}
.profile-reservations, .client-resas {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-title, h3 {
  font-weight: bold;
  font-size: 22px;
}
.coach-dashboard, .coach-as-user, .zut {
  background-color: $light-gray;
  border-radius: 3px;
  padding: 10px;
}
.resas {
  display: flex;
  flex-direction: column;
  padding: 5px 8px;
  border-radius: 3px;
}
.list-resas, .reviews {
  display: flex;
}
.link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.reviews-coach, .reservations-coach-as-user, .reservations-en-cours-coach, .reservations-en-cours {
  margin-right: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 5px;
  padding-left: 15px;
  width: 250px;
  background-color: white;
}
.reservations-coach-as-user {
  padding-bottom: 10px;
}
.coach-as-user-resas {
margin-left: 8px;
}
.reservations-past {
  padding-left: 15px;
}
