<div class="form-background", style='background-image: url(<%= asset_path "run.jpg" %>)'>
<div id="form-design">
  <h2>Renseigne ta compétence</h2>
  <br>
  <% if policy(@skill).create? %>
    <%= render 'form' %>
  <% end %>
</div>
</div>

