<div class="container" id="form-design">
  <h2><%= @skill.name %></h2>
  <%= link_to "Supprime ta compétence", skill_path, method: :delete, data: {confirm: "Es-tu sûr ?"}, class: "btn btn-primary" %>
</div>
