
<div class="show d-flex flex-row justify-content-between">
	<div class="show-card d-flex flex-column align-items-center">
		<div><%= image_tag "julie.jpg", class:"show-avatar" %></div>
		<div class="name"><%= @skill.user.first_name %> <%= @skill.user.last_name %></div>
		<div class="skill"><%= @skill.name %></div>
	</div>
	
	<div class="competences">
		<p>Spécialité:</p>
		<p>Expérience:</p>
		<p>Profil:</p>
		<p>Localisation:</p>
	</div>	
</div>
<%#= link_to "Supprime ta compétence", skill_path, method: :delete, data: {confirm: "Es-tu sûr ?"}, class: "btn btn-primary" %>


