.btn-green {
	background-color: $green;
	color: $light-gray;
	padding: 6px;
	border-radius: 5px;
	width: 150px;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

a.btn-retour {
	color: $green;
	margin-left: 5px;
	&:hover {
		text-decoration: none;
		color: $green;
		text-shadow: 1px 1px 3px rgba(15,93,94,.2);
	}
}

.modifier-btns {
	display: flex;
	flex-direction: column;

		.btn-green.modifier-btn {
			width: 100%;
			margin-bottom: 10px;
		}
}

.btn.btn-outline-light.rounded-pill.btn-space.video {
  border: 1px solid #0F5D5E;
  color: #0F5D5E;
}

.btn.btn-outline-light.rounded-pill.btn-space.inscription {
	border: 1px solid #0F5D5E;
  color: #0F5D5E;
}

