.mapboxgl-popup {
  max-width: 200px;
  padding: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  p {
    font-weight: bold;
    opacity: .7;
    font-size: 12px;
    line-height: 1;
  }
  h2 {
    font-size: 14px;
  }
  a:hover {
    text-decoration: none;
    color: $green;
    text-shadow: 1px 1px 3px rgba(15,93,94,.4);
  }
}

g {
  fill: $green;
  &:hover {
    opacity: 0.8;
  }
}