.navbar-trainup {
  justify-content: space-between;
  background: #0F5D5E;
  height: 50px;
}

.navbar-trainup .navbar-collapse {
  flex-grow: 0;
}

// .navbar-trainup .navbar-brand img {
//   width: 40px;
// }

.logo {
  width: 62px;			
}

.navbar-light .navbar-nav .nav-link {
    color: $light-gray;
}

.navbar {
  position: relative;
}