.navbar-trainup {
  justify-content: space-between;
  background: #0F5D5E;
  height: 65px;
}

.navbar-trainup .navbar-collapse {
  flex-grow: 0;
}

// .navbar-trainup .navbar-brand img {
//   width: 40px;
// }

.logo {
  width: 30%;
}

.navbar-light .navbar-nav .nav-link {
    color: $light-gray;
}

.navbar {
  position: relative;
}

.nav-item {
  align-items: center;
}

.nav-item.dropdown.show {
  align-items: center;
  margin-top: 0;
}

.dropdown-menu.dropdown-menu-right.show {
  margin-top: 0;
}

#navbarDropdown {
  position: relative;
  z-index: 1;
}

#navbarSupportedContent > ul > li:nth-child(3) > p > a {
  position: absolute;
  right: 10px;
  z-index: 2;
  color: red;
}

// .btn-space {
//     margin-right: 20px;
// }

.reserve {
  background-color: $green;
  color: white;
}

