.container {
	width: 1000px;
	margin: 0 auto;
}

.custom-container {
	min-height: calc(100vh - 100px);
}

h1 {
	color: $light-gray;
	font-size: 24px;
	font-family: 'Oswald', sans-serif;
	line-height: 20px;
}

h2 {
	color: $green;
	font-family: Roboto;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	vertical-align: top;
}

p {
  font-family: Roboto;
  font-size: 16px;
  color: black;
}
