
  <h2 class="mt-3 mb-3" style="color: #105D5E">Laisse ton commentaire !</h2>


  <%= simple_form_for ([@booking, @review]) do |f|%>
    <%= f.input :content, label: "Détaille ton expérience" %>
    <%= f.input :rating, collection: (1..5).to_a, label: "Note ton expérience" %>
    <i class="fas fa-star"></i>
    <%= f.submit "Poste ton commentaire", class: "btn-green" %>
  <% end %>

