<% content_for :meta_title, "TrainUp: tes commentaires" %>
<% content_for :meta_description, "Partages avec la communauté tes impressions sur ton coach" %>
<% content_for :meta_image, cl_image_path("banner.png") %>

<div class="review">
    <h2>Laisse ton commentaire</h2>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :content, label: "Détaille ton expérience" %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Note ton expérience", required: true %>
      <div class="my-3">
        <%# 5.times do |index| %>
        <!--
          <i id="<%#= index + 1 %>" class="review-rating far fa-star"></i>
        -->
        <%# end %>
      </div>
      <%= f.submit "Valide", class: "btn-green" %>
    <% end %>
</div>

