<div class="review">
    <h2>Laisse un commentaire</h2>
    <%= simple_form_for [@booking, @review] do |f| %>
      <%= f.input :content, label: "Commentaire:" %>
      <%= f.input :rating, collection: (1..5).to_a, label: "Note ton expérience:", required: true %>
      <div class="my-3">
        <%# 5.times do |index| %>
        <!--
          <i id="<%#= index + 1 %>" class="review-rating far fa-star"></i>
        -->
        <%# end %>
      </div>
      <%= f.submit "Valider", class: "btn-green" %>
    <% end %>
</div>

